<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IntegrationSoapImplPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/integration/integration"
                binding="basicHttpBinding" bindingConfiguration="IntegrationSoapImplPortBinding"
                contract="IntegrationService.IntegrationSoap" name="IntegrationSoapImplPort" />
        </client>
    </system.serviceModel>
</configuration>
